<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <label for="username">Username: </label>
        <input type="text" maxlength="16" name="username">

        <label for="password">Password: </label>
        <input type="password" maxlength="16" name="password">

        <label for="confirmPassword">Password: </label>
        <input type="password" maxlength="16" name="confirmPassword">

        <label for="firstname">First name: </label>
        <input type="text" maxlength="100" name="firstname">

        <label for="lastname">Last name: </label>
        <input type="text" maxlength="100" name="lastname">

        <button type="submit">Register</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>